.signup-modal {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-modal > h1 {
    font-size: x-large;
    margin-bottom: 0;
}

.signup-modal > form {
    width: 100%
}

.signup-modal > form > label {
    width: 90%
}

.signup-modal > form > button:disabled {
    background-color: gray;
}

.signup-modal > form > button {
    background-color: #FA6666;
    color: white;
    width: 90%;
    padding: 0.5em 1em;
    font-size: large;
}

.signup-modal > button {
    background-color: #FA6666;
    color: white;
    padding: 0.5em 1em;
    font-size: large;
}

.signup-modal > form > .errors {
    color: red;
    margin: 0;
    font-size: medium;
    padding: 0;
    margin-bottom: 0.5em;
}
