.group-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid gray;
    cursor: pointer;
}

.group-details > img {
    width: 375px;
    height: 150px;
    object-fit: contain;
}

.group-info {
    width: 450px;
    height: 200px;
    padding-left: 10px;
}

.group-info > h1 {
    font-size: larger;
}

.group-info > h2 {
    font-size: large;
    color: gray;
}

.group-info > p {
    color: black;
    padding: 0;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
}

.members-type {
    color: gray
}
