.profile-dropdown {
  position: absolute;
  right: 20px;
  width: fit-content;
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border: 5px solid black;
  color: orangered;
}

.hidden {
  display: none;
}

.profile-dropdown > div > h3 {
  margin: 0;
}
.profile-dropdown > div > p {
  margin: 0;
  padding: 0;
  color: black;
}
.user-greeting {
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 3px solid gray;
}

.user-actions {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-bottom: 3px solid gray;
}
.user-actions > li {
  margin: 1em 0;
}
.user-actions > li > * {
  background-color: orangered;
  padding: 0.5em 1em;
  border: solid black 1px;
  border-radius: 3em;
  color: white;
  margin: 0.8em;
}

.profile-dropdown > li > * {
  background-color: orangered;
  padding: 0.5em 1em;
  border: solid black 1px;
  border-radius: 3em;
  color: white;
  margin: 5px;
}

.profile-dropdown > li > *:hover {
  border: solid black 3px;
  cursor: pointer;
}

.user-logout {
  margin-top: 0.5em;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border-bottom: 3px solid gray;
  padding-bottom: 1em;
}

#home-button {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color:orangered;
  text-decoration: none;
}

#not-logged-in {
  display: flex;
  width: 15%;
  height: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
}

#not-logged-in > li {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#not-logged-in > li:hover {
  color: orangered;
  font-weight: bolder;
  cursor: pointer;
}

#logged-in {
  display: flex;
  width: 20%;
  height: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
}

#logged-in > a {
  padding: 5px;
  color: black;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#logged-in > a:hover {
  color: orangered;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

i {
  font-size: 50px;
  color: orangered;
}

#profile-button {
  background-color: none;
  border: none;
}
